main {
    background-color: black;
    color: white;
    min-height: 100vh;
}

.titulo {
    text-align: center;
    margin-bottom: 0px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vmax;
    height: auto;
}

.form {
    position: relative;
    width: 60%;
    height: 30vh;
}