/* body {
    background-color: black;
} */

main {
    width: 100vmax;
    height: auto;
}

.contato {
    padding: 0 30px;
    margin-top: 90px;
}

/* .titulo {
    text-align: center;
    margin-bottom: 10px;
} */

.titulo-pagina {
    color: white;
    font-size: 15pt;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}

.contatos {
    display: flex;
    margin-top: 20px;
}

.altura {
    height: auto;
}

.infoContact {
    display: flex;
    /* justify-content: center; */
    /* flex-direction: ; */
    color: black;
}

.nameContact{
    margin-right: 60px;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    
    main {
        color: black;
        width: 100vmax;
        height: fit-content;
    }

    .contatos {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 40px;
        position: relative;
        width: 100vw;
        height: fit-content;
    }

    .infoContact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
    }

    .altura {
        height: 650px;
    }

    .nameContact{
        margin-right: 60px;
    }

    .nameContact.daniel{
        margin: 0 0;
    }
}