main {
    color: white;
    width: 100vmax;
    height: 100vh;
}

.cor-destaque {
    background-color: #ffff00;
}

.logo {
    width: 150px;
}

.footer {
    width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.rodape {
    width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.titulo {
    text-align: center;
    margin-bottom: 10px;
}
h1 {
    color: white;
}