main {
    background-color: black;
}
.cor-destaque {
    background-color: #ffff00;
}

.logo {
    width: 150px;
}

.carrossel-bloco {
    display: flex;
    flex-direction: column;
}

.carrossel {
    display: flex;
    justify-items: center;
    margin: 30px 0;
}

.tamanho-carrossel {
    height: 400px;
}

.img-carrossel {
    display: flex;
    align-items: center;
    width: 100vmax;
    height: auto;

}

.img-carrossel img {
    width: 100px;
    height: auto;
}

.footer {
    width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.rodape {
    width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
