/* Modal */
.modal-dialog {
    display: flex;
    width: 600px;
    height: 450px;
}

.modal-dialog a {
    text-decoration: none;
    color: #ffff00;
}

.modal-filmes {
    display: flex;
    width: 600;
}